*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
   background: #2a7f62;
}
h1{
    font-size: 3rem;
    text-align: center;
    padding: 2rem ;
    color: #f0f7f4;
}
ul{
    list-style: none;
}
.container{
    width: 40%;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dfd9e2;
    padding-bottom:60px;
    border-radius: 10px;
}
.timer{
    width: 100%;
    background: #454345;
    color: #fff;
    padding: 40px 0;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}
.laps{
    text-align: center;
    margin-top: 10px;
    text-decoration:none ;
}
.action{
    width: 90%;
    margin: 60px  auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
     grid-gap: 30px; 
}
.action button{
    padding: 10px 20px;
    background: #454345;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;  
    transition: .5s ease-in;
}
.action button:hover{
    background: #2a7f62;
}